@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@layer utilities {
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  background-color: #EE9DC3;
}

.hint-bar {
  position: relative;
  background-color: #f5f5dc;
  width: 100%;
  min-height: 40px;
  border-radius: 12px;
  border: 2px solid #4F4F46;
  box-shadow: 0px 3px 3px 0px #4F4F46; 
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.hint-bar::after {
  content: '';
  position: absolute;
  top: -15.7px; 
  right: 15px;
  width: 30px; 
  height: 30px;
  background-image: url('../assets/star.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

